*{
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.header{
    width: 100%;
    height: 60%;
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding-bottom: 0;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    
}
.headerTop{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.heroHeader > h2, h5{
    color: white;
    margin-top: 40px !important;
}

.cart{
    margin-left: 7px;
}
.cart:hover{
    color:#A79344;
    font-size: 1.7em;
    transition: all ease-in-out 300ms;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px; 
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.itemCard{
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 10px 8px;
    margin: auto !important;
    margin-top: 100px !important;
    box-shadow: 5px 5px 5px 5px #777777
}
.cardButton{
    margin: 5px;
    border: 4px #A79344 ridge;
    border-radius: 6px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
}
.cardButton:hover{
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.2);
}
.imageContainer{
    height: 150px;
    width: 190px;
    margin-bottom: 20px !important;
    
}
.imageFit{
    height: 100%;
    width: 100%;
}
.resultsList{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* margin-left: auto; */
    /* margin-right: auto; */
    
}




.displayNone{
    display: none;
}
.closebutton{
    display: flex ; 
    justify-content: space-between !important;

}
.authForm{
    position: fixed;
    top: 200px;

}
.heroHeader{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1496297143134-bee209a0c3ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-size: cover;
    /* margin-top: 88px ; */
    z-index: 4;
}
.men{
    background-color:#242222;
    height: 812px
}
.linkContainer{
    height: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content:; */
}
.asLink{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 1.2em;
    transition: all ease-in-out 300ms;
}
.asLink:hover{
    color:#A79344;
    font-size: 1.5em;
    text-decoration: none;
    transition: all ease-in-out 300ms;
}
.modalSubContainer{
    height: 100%;
    width: 50%;
    background-position: center;
    background-size: cover;
}

.mobileMenu{
    position: fixed;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #242222;
    opacity: .9;
    color: white;
    padding-top: 25px;
    transition: left 1s ease-in-out;
}
.asMenuLink{
    color: white;
    transition: all ease-in-out 300ms;
}
.asMenuLink:hover{
    color:#A79344;
    font-size: 1.5em;
    text-decoration: none;

}

.formSection{
    background-image: url("https://rlv.zcache.ca/eat_sleep_shop_repeat_tote_bag-r8d3ad38ca86641f5a55f443231920617_v9w6h_8byvr_307.jpg?rvtype=content");
    background-size: contain;
    background-position: center center;
    height: 700px;
    width:100vw;
    position: absolute;
}
.authFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 0;
}
.authForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* position: absolute; */
    top: 450px;

}
.authForm > input{
    border: 5px #A79344 solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background:grey, transparent;
    height: 4em;
    width: 20em;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);;
}
.noAccount{
 
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                    0px 8px 13px rgba(0,0,0,0.1),
                    0px 18px 23px rgba(0,0,0,0.1);
                
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.accountQesNBtn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    align-self: flex-end;
}
.burger{
    display:none;
    color: white;
}
.navLink{
    color: white;
}
h6{
    font-style: italic;
    padding-top:5px;
}
.loginHeaderText{
    z-index: 5;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media only screen and (min-width: 700px){
    .resultsList{
        grid-template-columns: repeat(2,1fr);
    }
    .burger{
        display: block;
       
    }
    .headerTop{
        display: none;
    }
}

@media only screen and (min-width: 1000px){
    .resultsList{
        grid-template-columns: repeat(3,1fr);
    }
}