*{
    margin: 0;
}

.header{
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 0;
    z-index: 5;
    margin-bottom: 50px !important;
    
}

.men{
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
    position: fixed;
}
.cart{
    border: 1px slategray ridge;
}

.home{
    height: 100%;
    width: 100%;
    padding-top: 85px;
    position: fixed;
}
.itemCard{
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 10px 8px;
    margin: auto !important;
    margin-top: 50px;
}
.imageContainer{
    height: 150px;
    width: 200px;
    margin-bottom: 20px !important;
    
}
.imageFit{
    height: 100%;
    width: 100%;
}
.resultsList{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.sideNav{
    position: absolute;
    left: 0px;
    top: 100px;
    height: 500px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px slategray ridge;
    
}
.sideNav > div{
    border-bottom: 2px slategray ridge;
}
.browseButton{
    height: 120px;
    width: 75px;
    border: 3px gray inset;
    border-radius: 8px;
}