* {
    margin: 0;
    padding: 0;
}

.footer{
    background-image: url('../pics/flower.jpg');
    height: 100px;
    width: 100%;
    /* position: relative;
    margin-top: -100px;; */
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.form {
    height: 20px;
}

.input {
    height: 20px;
    
    
}

#subscribe {
    


}



/* @media only screen and (min-width: 768px) {

} */