.home{
    background-image: url('../pics/visuals.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100vw;
}
.form{
    margin-top: 150px !important;
}

.select{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0px 40px; 
}
.clothe {
    color: white;
    display: flex;
    justify-content: center;
}
.mapped{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.link{
    /* border: 5px solid white; */
    border-radius: 20px 20px; 
    color:rgba(255, 255, 255, 0.849);
    font-size: 30px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    font-weight: 800px;
    display: flex;
    justify-content: center;
    border: 5px #A79344 solid;
    /* border-radius: 10px; */
    background:grey, transparent;
    height: 2em;
    box-shadow: 0px 17px 10px -10px rgba(240, 199, 199, 0.4);
}
.reactButton{
    position: fixed;
    left: 0px;
    top: 250px
}
.golden{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1554179453-cca1a5a7be80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
    background-position: center;
    background-size: cover;
}
.mission{
    color:white;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
}
.para{
    background-color: rgb(14, 13, 13);
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}
.contactInfo{
    padding-top: 100px;
}
.carted{
    padding-top:80px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    
}
.graph{
    float: left
}
